<html>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post" action="/main">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text" name="text" placeholder="Input message" />
            <input type="text" name="tag" placeholder="Tag">
            <button type="submit">Add message</button>
        </form>
    </div>
    <div>All messages</div>
    <div>
        <form method="post" action="/filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text" name="tagFilter" placeholder="tag filter">
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        <form method="post" action="/delete">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text" name="deletedId" placeholder="id for delete">
            <button type="submit">delete</button>
        </form>
    </div>
        {{#messages}}
            <div>
                <b>{{id}}</b>
                <span>{{text}}</span>
                <i>{{tag}}</i>
                <strong>{{authorName}}</strong>
            </div>
        {{/messages}}
</body>
</html>